<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Online Order</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'order/styles.css' %}" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="{% url 'order/order.js' %}"></script>
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		
		<nav class="navbar  navbar-light bg-light navbar-default navbar-fixed-top" id="navbar">
			<div class="container-fluid">
				<div class="navbar-header" id="header">
					<a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
				</div>
				<ul class="nav navbar-nav" id="link">
					<li class="a"><a href="#" id="a1" >Pizza</a></li>
					<li class="a"><a href="#" id="a2" >Sub</a></li>
					<li class="a"><a href="#" id="a3" >Pasta</a></li>
					<li class="a"><a href="#" id="a4" >Salad</a></li>
					<li class="a"><a href="#" id="a5" >Dinner Platters</a></li>
				</ul>
				
			</div>
		</nav>
		
		<div id="mainDiv">
			<div id="pizza" class="container ">
				<div class="col-sm-9">
				<h1 class="header">Pizza</h1>
				<ul class="u1 ">
					{% for pizza in pizzas %}
					<li class="col-sm-4 text-center">
						<div class="div1">
							<div>
								<img src="{% static 'pizza.jpg' %}"  class="img" />
							</div>
							<div> 
								<p class="p1">{{pizza.name}}<br><span>Description about the item will be displayed here! This is just a temporary!</span></p>
								<form class="form-horizontal">
									<select onchange="pizzaSizeChanged(this)" class="select-pizza"   data-pizza-ots="{{pizza.oneToppingSmall}}" data-pizza-tts="{{pizza.twoToppingsSmall}}" data-pizza-thts="{{pizza.threeToppingsSmall}}" data-pizza-otl="{{pizza.oneToppingLarge}}" data-pizza-ttl="{{pizza.twoToppingsLarge}}" data-pizza-thtl="{{pizza.threeToppingsLarge}}">
										<option value="small" data-pizza-price="{{pizza.smallPrice}}"> Small : ₹{{pizza.smallPrice}}</option>	
										<option value="large" data-pizza-price="{{pizza.largePrice}}"> Large : ₹{{pizza.largePrice}}</option>
									</select>
									<select class="select-pizza" onchange="toppingChanged(this)" >
										<option value="0" data-price="0">No toppings</option>
										<option value="1" data-price="{{pizza.oneToppingSmall}}">Single: ₹{{pizza.oneToppingSmall}}</option>
										<option value="2" data-price="{{pizza.twoToppingsSmall}}">Double: ₹{{pizza.twoToppingsSmall}}</option>
										<option value="3" data-price="{{pizza.threeToppingsSmall}}">Triple: ₹{{pizza.threeToppingsSmall}}</option>
									</select>
								</form>
							</div>
							<button class="button1"><span class="glyphicon glyphicon-plus"></span></button>
							<p class="p2">₹{{pizza.smallPrice}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
				<div class="col-sm-3"></div>
			</div>
			<div id="sub"  class="container">
				<div class="col-sm-9 sub-div">
				<h1 class="header">Sub</h1>
				<ul class="u1">
					{% for sub in subs %}
					<li class="col-sm-4 text-center">
						<div class="div1">
							<div class="img-div">
								<img src="{% static 'sub.jpg' %}"  class="img" />
							</div>
							<div>
								<p class="p1">{{sub.name}}</p>
								<form class="form-horizontal">
									<select class="select" >
										<option value="small" data-price = "{{sub.smallPrice}}"> Small : ₹{{sub.smallPrice}}</option>	
										<option value="large" data-price = "{{sub.largePrice}}"> Large : ₹{{sub.largePrice}}</option>
									</select>
									
								</form>	
							
							</div>
							<button class="button1"><span class="glyphicon glyphicon-plus"></span></button>
							<p class="p2">₹{{sub.smallPrice}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-3"></div>
			</div>
			
			<div id="pasta" class="container" >
				<div class="col-sm-9 sub-div">
				<h1 class="header">Pasta</h1>
				<ul class="u1">
					{% for pasta in pastaWithServings %}
					<li class="col-sm-4 text-center">
						<div class="div1">
							<div class="img-div">
								<img  src="{% static 'pasta.jpg' %}"  class="img" />
							</div>
							<div>
								<p class="p1">{{pasta}}</p>
											
							</div>
							<button class="button1"><span class="glyphicon glyphicon-plus"></span></button>	
							<p class="p2">₹{{pasta.price}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-3"></div>
			</div>
			<div id="salad" class="container" >
				<div class="col-sm-9 sub-div">
				<h1 class="header">Salad</h1>
				<ul class="u1">
					{% for salad in salads %}
					<li class="col-sm-4 text-center">
						<div class="div1">
							<div class="img-div">
								<img src="{% static 'salad.jpg' %}"  class="img"   />
							</div>
							<div>
								<p class="p1">{{salad.name}}</p>
												
							</div>
							<button class="button1"><span class="glyphicon glyphicon-plus"></span></button>
							<p class="p2">₹{{salad.price}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-3"></div>
			</div>
			<div id="platter" class="container">
				<div class="col-sm-9 sub-div">
				<h1 class="header">Dinner Platter</h1>
				<ul class="u1">
					{% for platter in dinnerPlatters %}
					<li class="col-sm-4 text-center">
						<div class="div1">
							<div class="img-div">
								<img src="{% static 'platter.jpg' %}"  class="img"   />
							</div>
							<div>
								<p class="p1">{{platter.name}}</p>
								<form class="form-horizontal">
									<select  class="select" >
										<option value="small"> Small : ₹{{platter.smallPrice}}</option>
										<option value="large"> Large : ₹{{platter.largePrice}}</option>
									</select>
								</form>
											
							</div>
							<button class="button1"><span class="glyphicon glyphicon-plus"></span></button>	
							<p class="p2">₹{{platter.smallPrice}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-3"></div>
			</div>
		</div>
		
		<div  id="cart">
			<div id="abc">
			<ul id="cart-ul">

			</ul>
		</div>
			<p id="cart-p"><b>YOUR CART IS EMPTY</b><br>Please add some items from the menu!</p>
			<div id="proceed-div">
				<p id="sub-total">Sub Total :<span>₹</span></p>
				<button class="btn btn-success" id="proceed"  onclick="" >Proceed to Order</button>
			</div>
		</div>
		
		
	</body>
</html>